@* code is based on https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/mvc-music-store/mvc-music-store-part-8 *@
@model MagicInventoryWebsite.Models.ShoppingCartViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Review Order";
}

<section>
    <h4>
        <em>@ViewBag.UserID</em><em>  Confirm </em> your Order details:

    </h4>

    <table class="table">
        <tr>
            <th>
                Store
            </th>
            <th>
                Product
            </th>
            <th>
                Price (each)
            </th>

            <th>
                Quantity
            </th>
            <th>
                SubTotal
            </th>
        
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => (item.Store.Name))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)

                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td >
                   $@((item.Count * item.Product.Price))
                </td>
               
            </tr>
        }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <b>Total</b>
                </td>

                <td>
                    $@Model.CartTotal
                </td>
            </tr>
    </table>




</section>
